.custom-select {
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 7px;
  max-width: inherit;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  /* font-size: 1.497rem; */
  padding: 7px 20px;
  border: 1px solid #bbb;
  text-align: right;
  width: 21.5rem;
}
.custom-select:focus-visible {
  outline: none;
}

select::-ms-expand {
  display: none;
}
